<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title><%= title %></title>
<!-- Bootstrap CSS (load from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<!-- GA Stylesheet -->
<link rel='stylesheet'/>
<link rel="stylesheet" href="/stylesheets/style.css" />
<!-- jQuery (load from a CDN) -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

</head>
<body>

<h1><%= title %></h1>
<div id="main">
