<% include ../partials/header %>

<form name="new_dawg_form" id="new_dawg_form" method="post" action="/dawgs">
    <div>
        <input type="text" name="name" id="name" placeholder="Full name">
    </div>
    <div>
        <input type="text" name="favoritetoy" id="favoritetoy" placeholder="What's your favorite toy!">
    </div>
    <input type="submit" value="Save">
</form>
