<% include partials/header %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="./public/images/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <p><%= title %></p>
  </body>

</html>
